<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
    	<session-factory>    	
    		<property name="hbm2ddl.auto">update</property>    		
    		<property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>    		
    		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/dog_night</property>
    		<property name="connection.username">root</property>
    		<property name="connection.password">wazap55</property>					
    		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
    		<property name="hibernate.show_sql">true</property>
    		<!-- Archivos mapping de las clases creadas -->     		
    		<mapping class="modelo.Cliente" package="modelo"/>
    		<mapping class="modelo.Perro" package="modelo"/>
    		<mapping class="modelo.Historial_medico" package="modelo"/>
    		<mapping class="modelo.Historial_alimenticio" package="modelo"/>
    		<mapping class="modelo.Reservas" package="modelo"/>
    		
    	</session-factory>    
    </hibernate-configuration>